@import url(/assets/css/home/cabecalho.css);
@import url(/assets/css/home/banner.css);
@import url(/assets/css/home/conteudo-principal.css);
@import url(/assets/css/home/contato.css);
@import url(/assets/css/home/rodape.css);

@import url(/assets/css/login/logincabecalho.css);
@import url(/assets/css/login/login.css);
@import url(/assets/css/login/quemsomos.css);
@import url(/assets/css/login/faleconosco.css);

@import url(/assets/css/produtos/produtoscabecalho.css);
@import url(/assets/css/produtos/produtos.css);
:root {
  --azul: #2A7AE4;
  --branco: #FFFFFF;
  --cinza: #464646;
  --cinza-claro: #A2A2A2;
  --cinza-fundo: #F5F5F5;
  --azul-fundo: #EAF2FD;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 600;
}